<h1>ToDo</h1>

<ul>
<% @tasks.each do |task| %>
	<li><%= link_to task.title, "/tasks/#{task.id}" %></li>
<% end %>
</ul>

<%= link_to "New Task", new_task_path %>
<%= link_to "Log out", destroy_user_session_path, method: :delete %>